<section id="banner">
				<header class="major">
					<h1>This is Construct</h1>
					<p>Aliquam scelerisque rutrum nec donec lorem ipsum dolor sit amet <br /> porttitor ornare tempus dignissim felis magna commodo.</p>
				</header>
				<ul class="actions">
					<li><a class="button big special icon solo fa-angle-down scrolly" href="#main">
						<span class="label">Learn More</span>
					</a></li>
				</ul>
</section>
