<section id="three" class="special">
							<header class="major">
								<h2>Commodo justo interdum</h2>
								<p>Nam condimentum ullamcorper quam vitae dictum. Sed consectetur nulla lacus, <br /> ultricies ornare lacus volutpat at. Nunc rutrum turpis ipsum.</p>
							</header>
							<section class="features">
								<section>
									<span class="icon major fa-camera-retro"></span>
									<h3>Facilisis tempus</h3>
									<p>Aliquet nisl, ac commodo neque est et dolor. Donec sed amet ornare, justo non pulvinar interdum, neque justo auctor lectus, facilisis diam tempus.</p>
								</section>
								<section>
									<span class="icon major fa-cog"></span>
									<h3>Lectus magna</h3>
									<p>Aliquet nisl, ac commodo neque est et dolor. Donec sed amet ornare, justo non pulvinar interdum, neque justo auctor lectus, facilisis diam tempus.</p>
								</section>
								<section>
									<span class="icon major fa-diamond"></span>
									<h3>Ipsum lorem</h3>
									<p>Aliquet nisl, ac commodo neque est et dolor. Donec sed amet ornare, justo non pulvinar interdum, neque justo auctor lectus, facilisis diam tempus.</p>
								</section>
								<section>
									<span class="icon major fa-floppy-o"></span>
									<h3>Feugiat veroeros</h3>
									<p>Aliquet nisl, ac commodo neque est et dolor. Donec sed amet ornare, justo non pulvinar interdum, neque justo auctor lectus, facilisis diam tempus.</p>
								</section>
							</section>
							<footer class="major">
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</footer>
						</section>