			<section id="cta" class="wrapper style1 special">
				<div class="inner">
					<header class="major">
						<h2>Amet magna tempus</h2>
						<p>Ultricies ornare lacus volutpat at. Nunc rutrum turpis ipsum. Mauris at vestibulum <br /> mauris, eu eleifend lorem ipsum dolor sit amet nullam consequat.</p>
					</header>
					<ul class="actions">
						<li><a href="#" class="button special">Get Started</a></li>
					</ul>
				</div>
			</section>