<section id="two" class="highlights">
							<section>
								<a class="image" href="#">
									<img src="/dist/img/pic01.jpg" data-position="center right" alt="" />
								</a>
								<div class="content">
									<header class="major">
										<h2>Aliquam ultricies</h2>
										<p>Vitae dictum. Sed consectetur nulla lacus, ultricies ornare lacus volutpat at. Nunc rutrum turpis.</p>
									</header>
									<p>Maecenas et tempor tortor. Aenean ut est tortor. Aenean fer enim amet purus mattis lacinia. Maecenas et rhoncus, etiam magna vitae tempus finibus, nisi elit aliquet nisl, ac commodo neque est et dolor. Donec sed ornare, justo non.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn More</a></li>
									</ul>
								</div>
							</section>
							<section>
								<a class="image" href="#">
									<img src="/dist/img/pic02.jpg" data-position="top right" alt="" />
								</a>
								<div class="content">
									<header class="major">
										<h2>Vitae sed mattis</h2>
										<p>Vitae dictum. Sed consectetur nulla lacus, ultricies ornare lacus volutpat at. Nunc rutrum turpis.</p>
									</header>
									<p>Maecenas et tempor tortor. Aenean ut est tortor. Aenean fer enim amet purus mattis lacinia. Maecenas et rhoncus, etiam magna vitae tempus finibus, nisi elit aliquet nisl, ac commodo neque est et dolor. Donec sed ornare, justo non.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn More</a></li>
									</ul>
								</div>
							</section>
							<section>
								<a class="image" href="#">
									<img src="/dist/img/pic03.jpg" data-position="center center" alt="" />
								</a>
								<div class="content">
									<header class="major">
										<h2>Enim est aenean</h2>
										<p>Vitae dictum. Sed consectetur nulla lacus, ultricies ornare lacus volutpat at. Nunc rutrum turpis.</p>
									</header>
									<p>Maecenas et tempor tortor. Aenean ut est tortor. Aenean fer enim amet purus mattis lacinia. Maecenas et rhoncus, etiam magna vitae tempus finibus, nisi elit aliquet nisl, ac commodo neque est et dolor. Donec sed ornare, justo non.</p>
									<ul class="actions">
										<li><a href="#" class="button">Learn More</a></li>
									</ul>
								</div>
							</section>
						</section>