<section id="four" class="spotlights special">
							<section>
								<header class="major">
									<h3>Neque donec lorem</h3>
								</header>
								<div class="image fit">
									<img src="/dist/img/pic04.jpg" alt="" />
								</div>
								<p>Aliquet nisl, ac commodo neque est et dolor. Donec sed amet ornare, justo non pulvinar interdum, neque justo auctor lectus, facilisis imperdiet diam tempus lorem ipsum dolor.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section>
							<section>
								<header class="major">
									<h3>Magna tempus nisl</h3>
								</header>
								<div class="image fit">
									<img src="/dist/img/pic05.jpg" alt="" />
								</div>
								<p>Aliquet nisl, ac commodo neque est et dolor. Donec sed amet ornare, justo non pulvinar interdum, neque justo auctor lectus, facilisis imperdiet diam tempus lorem ipsum dolor.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section>
							<section>
								<header class="major">
									<h3>Diam sed interdum</h3>
								</header>
								<div class="image fit">
									<img src="/dist/img/pic06.jpg" alt="" />
								</div>
								<p>Aliquet nisl, ac commodo neque est et dolor. Donec sed amet ornare, justo non pulvinar interdum, neque justo auctor lectus, facilisis imperdiet diam tempus lorem ipsum dolor.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section>
							<section>
								<header class="major">
									<h3>Justo aliquet magna</h3>
								</header>
								<div class="image fit">
									<img src="/dist/img/pic07.jpg" alt="" />
								</div>
								<p>Aliquet nisl, ac commodo neque est et dolor. Donec sed amet ornare, justo non pulvinar interdum, neque justo auctor lectus, facilisis imperdiet diam tempus lorem ipsum dolor.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section>
						</section>