<!DOCTYPE HTML>

<html>
	{{>head}}
	<body>

		<!-- Banner -->
			{{>banner}}
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">

					<!-- Intro -->
					{{>section_1}}

					<!-- Highlights -->
					{{>section_2}}

					<!-- Features -->
					{{>section_3}}

					<!-- Spotlights -->
					{{>section_4}}

				</div>
			</section>

		<!-- CTA -->
		{{>section_5}}

		<!-- Footer -->
		{{>footer}}

		<!-- Scripts -->
		{{>scripts}}

	</body>
</html>